ul,li{
    list-style: none;
}

ul{
    padding: 0px;
    margin: 0px;
}

.main,.hmain{
    background-image: url("images/11.jpg");
    background-repeat: repeat-x;
    width: 172px;
}
li{
    background-color: #eeeeee;
}

a{
    text-decoration: none;
    padding-left: 20px;
    display: block;
    width: 80px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.main a,.hmain a{
    color: blueviolet;
    background-image: url("images/arrow_small.png");
    background-repeat: no-repeat;
    background-position: 3px center;
}

.main li a,.hmain li a{
    color: aquamarine;
    background-image: none;
}
.main ul,.hmain ul{
    display: none;
}

.hmain{
    float: left;
    margin-right: 2px;
}